<section id="Habilidades y Recursos"  class="comteiner text center skills">
    <h2><i>Hard & Solf Skills</i></h2>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="70"> 70 % GITHUB</div>
    </div>
  <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="95">95 % HTML</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100 % SCRUM</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80">80 % CSS</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="60">60 % BOOTSTRAP</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="95">95 % ANGULAR</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80">80 % TYPESCRIPT</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80">80 % MySQL</div>
    </div>
    <br>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="60">60 % JAVA</div>
    </div>
  <br>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100 % TRABAJO COLABORATIVO</div>
  </div>
  <br>
    <div class="conteiner text-center">
      <div class="row">
      <div class= "col 11"></div>
      <div class="col 1">
      <button type="submit" class="btn btn"><i class= "fa-solid fa-pen"></i></button>
      <button type="submit" class="btn btn"><i class= "fa-solid fa-xmark"></i></button>
      </div>
    </div>
  </div>
  </section>
