<br><section class="conteiner text-center experiencia">
    <h2>Experiencia laboral - <br>
      actividades realizadas</h2>
    <div class="conteiner">
      <div class="row">
        <div class="col-1">
          
        </div> 
    
        <div class="col-10">
          <h4> <br>
           - Hospital Neuropsiquiátrico Interzonal Dr. José A. Estéves <br>
            Garibaldi 1661 Temperley, Pcia de Buenos Aires <br>
            Prácticas como concurrente y prestación profesional Add Honorem, en <br>
            el Servicio de Emergencias del sector de Hospital de Día <br>
            a cargo de la Dra. Miriam López <br>
            años 1995 a 1997 <br>
            <br>
           - Hospital de Emergencias Psiquiátricas "Torcuato de Alvear", <br>
            calle Warnes 2630, C.A.B.A.
            Curso de Introducción a la Psicopatología Psicoanalítica <br>
            año 1998 <br>
            <br>
            - Hospital General de Agusdos Carlos G.Durand, <br>
            Avda. Diaz Velez 5044, C.A.B.A. <br>
            División Área Programática, Unidad de Geriatría, Servicio de Endocrinología <br>
            Curso Anual de Actualizaciones en Gerontología <br>
            año 2002 <br>
            <br>
            - Colegio de Psicólogos de la Provincia de Buenos Aires <br>
            S.A.C. Servicio de Asistencia a la Comunidad, atención en consultorio.<br>
            - Atención Psicoanalítica en consultorio particular. <br>
            - charlas gratuitas en colegios, centros culturales, y entidades sin fines de lucro de : <br> 
            - Cambios en la adolescencia <br>
            - Menopausia <br>
            - Otros <br>
            <br>
            </h4>
    
            <h2>En la actualidad </h2>: <br>
            <h4>- Atención psicoanalítica en consultorio particular <br>
            
            -Soluciones profesionales de consultoría y asesoramiento en selección de personal, <br>
            realización de informes de la clínica en el campo laboral, relevamiento de necesidades e implementación. <br>
            </h4> <br> <br>
        </div>
        <div class="col-1">
          <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
          <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
          </div>
    
      </div>
    </div>
    </section>
    