<section class="carrusel">
    <div class="row">
      <div class="col-12">
        <br>
        <br>
  <h2>Títulos y Certificados</h2>
  <div class="content-all">
      <div class="content-carrousel">
          <figure><img src="assets/img/img1.jpg"></figure>
          <figure><img src="assets/img/img2.jpg"></figure>
          <figure><img src="assets/img/img3.jpg"></figure>
          <figure><img src="assets/img/img4.jpg"></figure>
          <figure><img src="assets/img/img5.jpg"></figure>
          <figure><img src="assets/img/img6.jpg"></figure>
          <figure><img src="assets/img/img7.jpg"></figure>
          <figure><img src="assets/img/img8.jpg"></figure>
          <figure><img src="assets/img/img9.jpg"></figure>
          <figure><img src="assets/img/img10.jpg"></figure>
      </div>

  </div><br><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
<div class="conteiner text-center">
  <div class="row">
  <div class= "col 11"></div>
  <div class="col 1">
  <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
  <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
  </div>

</div>
</div>
</section>
