<section class="conteiner educacion1">
    <h2>Estudios de Programación </h2>
    <br>
    
    
    <!--presentacion, foto y presentacion-->
    
      
    
      <div class="conteiner text-center">
        <div class="row">
          <div class="col-3">
            <img src="assets/img/imagenarg2.png" alt="fotoargentinap" class="text-white text-center intro">
          </div>
      
          <div class="col-7">
            <h4>Conocimientos de los lenguajes Gobstones, Javascript y Ruby. <br> Utilizacion de recursos de frontend y backend,
            conocimientos en Scrum, Github, HTML, CSS, Boostrap, Angular, Typescript, MySQL, UML, Java,
            Java Poo y Sprint boot, Seguridad JWT, uso de Firebase, Heroku y Heroku Add On. <br>
          año 2022</h4>
          </div>
          <div class="col-2">
          <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
          <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
          </div>
          <br>
          <br>
        </div>
      </div>
      <br>
      <br>
    </section>
    
    
    <section class="conteiner educacion2">
    <h2>Estudios Universitarios</h2>
    
    
    <!--presentacion, foto y presentacion-->
      
      <div class="conteiner text-center">
        <div class="row">
          <div class="col-3">
            <img src="assets/img/imagenUBA.png" alt="fotoperUBA" class="rounded-circle img-fluid" width="70%">
          </div>
      
          <div class="col-7 mt-4">
            <h4>Título - Licenciatura <br>
              Universidad de Buenos Aires <br>
              Facultad de Psicología <br>
              Licenciada en Picología <br>
              <br>Egresada en 1993
            </h4>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
            </div>  
            <br><br>
        </div>
      </div>
      <br>
      <br>
    </section>
    
    <section class="conteiner educacion3">
    <h2>Curso de Informatica</h2>
    
    <!--presentacion, foto y presentacion-->
    
      <div class="conteiner text-center">
        <div class="row">
          <div class="col-3">
            <img src="assets/img/img6.jpg" alt="fotocpi" class="img-fluid perfil" width="70%">
          </div>
          <div class="col-7">
            <h4> <br>
              Centro Profesional de Informática & ciencias <br>
              Montevideo 499, esquina Lavalle, C.A.B.A. <br>
            Curso de Analista Superior en Operación <br>
          año 1993</h4>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
            </div>
        </div>
      </div>
      <br>
      <br>
    </section>
    
    
    <section class="conteiner text-center educacion4">
    <h2>Cursos Postgrado</h2>
    
      <div class="conteiner text-center">
        <div class="row">
          <div class="col-3">
            <img src="assets/img/img5.jpg" alt="" class="marketing" width="70%" height="...">
          </div>
      
          <div class="col-7">
            <h4> <br>
              Universidad de Buenos Aires <br>
              Facultad de Psicología <br>
              Secretaría de Posgrado <br>
              Curso de Psicología y Marketing, conductas del consumidor <br>
              año 1994
            </h4>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
            </div>
        </div>
      </div>
      <br>
      <br>
    </section>
    
        <section class="conteiner text-center educacion5">
        <h2>Otras Certificaciones</h2>
        
          <div class="conteiner text-center">
            <div class="row">
              <div class="col-3">
                <img src="assets/img/img8.jpg" alt="" class="" width="60%">
              </div>
          
              <div class="col-7">
                <h4> <br> Harris Corporation - RF Comunication Division - Rochester, New York, USA <br>
                  Seminario de Tecnología de Comunicaciones Avanzadas, <br>
                  Buenos Aires, Argentina <br>
                  año 1995 <br>
                  <br>
                </h4>
              </div>
              <div class="col-2">
                <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
                <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
                </div>
            </div>
          </div>
          <br>
          <br>
        </section>
    
    
    <section class="conteiner text-center educacion6">
    <h2>Título de Profesora de Piano</h2>
    
    <div class="conteiner text-center">
        <div class="row">
          <div class="col-3">
            <img src="assets/img/img4.jpg" alt="..." class="piano"width="70%" height="..." >
          </div>
      
          <div class="col-7">
            <h4> <br> <br> Diploma de Profesor de Piano <br>
              Conservatorio Musical "Clementi" <br>
            fundadores: Lorenzo Spena, Adela A. de Spena <br>
            Directora: Lita Spena <br>
            Dean Funes 2148, C.A.B.A. <br>
            Nivel alcanzado de profesor de Piano, Teoría y Solfeo <br>
            8 años de estudio consecutivo, <br>
            años 1979 a 1987 <br>
          </h4>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-pen"></i></button><br>
            <button type="submit" class="btn btn-light"><i class= "fa-solid fa-xmark"></i></button><br>
            </div>
        </div>
      </div>
      <br>
      <br>
      </section>
