/*.row{
    padding: 10px;
}*/
div{
    background-color: gray;
    text-align: center;
    
}
/*nombre*/
#nombre{
    font-weight: bold;
    margin-top: 40%;
}
/* estilo foto perfil*/
@media (min-width:576px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 6px 8px 8px 8px gray;
        left: 30px;
        top: 900px;
    }
}
 @media (max-width:575px){
    #fotoperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px gray;
        left: 35px;
        top: 300px;
    }
}

 h5{
    display: inline;
    padding: 30px;
 }