/*.row{
    padding: 10px;
}*/
/*nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}
/* estilo foto perfil*/
@media (min-width:576px){
    #fotoperfil{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 6px 8px 8px 8px gray;
        left: 40px;
        top: 820px;
    }
}
 @media (max-width:575px){
    #fotoperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 4px 4px 4px gray;
        left: 25px;
        top: 300px;
    }
}

 h5{
    display: inline;
    padding: 30px;
 }