<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/perfil.jpg.jpg" class="img-fluid rounded-circle" id="fotoperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <h1><p id="nombre">Lic. Silvina M. Kohn</p></h1>
    <h1><p> Full Stack Developer Jr. </p></h1>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
            <h5><b>El análisis del comportamiento humano siempre fue de gran significancia en mi camino profesional como<br>
                licenciada en psicólogía, egresada de la Universisad de Buenos Aires, Facultad de Psicología-UBA.<br>
                Abocada a la inteligencia humana, sobre cómo funciona la psiquis en sus procesos mentales, sintomatologías y psicopatologías,
                tanto en el desarrollo individual como social y laboral.<br>
                Basándome en la interpretación psico-físico-verbal, <i>es fascinante ir descubriendo cuan grande es la inteligencia humana
                en todas sus expresiones</i>.  Me he adentrado tambien en el arte y la cultura musical siendo profesora de Piano Teoría y Solfeo.<br> 
                La música es nuevamente un lenguaje estructurado de símbolos con su propio desarrollo y el artista interpreta y
                 decodifica estos símbolos para transmitir su música.<br> La evolución del lenguaje en sí es un hecho, ya desde los diferente aportes, como la de los lingüistas,
                quienes consideran al signo como un todo en la relación establecida entre significado y significante; los psicoanalistas,
                que entienden que el significante no está definido por su significado, no está unido exclusivamente a él y, lo que llamamos signo o símbolo,
                merecen su objetiva y puntual interpretación.<br>
                El cambio llegó y es propio de la evolución del lenguaje en PROGRAMACIÓN el cual tiene su propia lógica contundente e inequívoca que "por el momento" a la maquina nada importa.<br>
                Programar, es una manera mas de comunicarse mediante otro lenguaje, otra forma de expresión de la inteligencia humana.<br>
             
                Y es así, que actualmente me siento atraída por conocer más sobre los distintos lenguajes en programación.<br>
                Considero una gran oportunidad para mí aprender a Programar y tengo mucho interés en profundizar mis 
                conocimientos en determinados lenguajes de programación para continuar dando lo mejor de mí,
                y poder aportar todo lo aprendido en cada oportunidad laboral que se me ofrezca.<br></b>
                </h5>
            

    </span>

</div>

</div>
